footer {
  background: url("image/footerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  padding-top: 364px;
  color: white;
  overflow: hidden;
  transition: ease all .9s;
}
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-content: space-between;

}

.footer-info {
  transition: ease all .9s;
  display: flex;
  flex-direction: column;

  &__text {
    width: 350px;
  }
}

.footer-contakt {
  &__title {
    font-family: Lora;
    font-weight: bold;
    font-size: 24px;
  }

}

.search-button {
  &__form {
    position: relative;
    width: 385px;
  }

  &__input {
    width: 100%;
    height: 56px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    background: #fdfdfd;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(270deg, #86BE26 1.79%, #86BE26 100%);
    cursor: pointer;

    &:before {
      content: "\2192";
      font-size: 18px;
      color: white;
    }
  }
}

.contact-button {
  display:none;
  &__link{
    font-family: Work Sans;
    font-weight: 600;
    font-size: 14px;
    color: #FDFDFD;
    background-color: #86BE26;
    text-decoration: none;
    display: inline-block;
    width: 344px;
    height: 56px;
    border-radius: 5px;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;

  }


}



.footer-inform {
  padding-top: 30px;
  &__logo {

  }

  &__text {
    display: block;
    margin-top: 22px;
  }
}


.footer-list {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 48px 0 0 53px;

  &__column {
    padding-right: 115px;
  }

  &__title{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-family: Lora;
  }
  &__item{
    padding-bottom: 15px;
  }

  &__list{
    list-style-type: none;
    padding: 0;
  }
  &__link{
    text-decoration: none;
    color:$opacity-text;
    &:hover {
      color: #86BE26;
      text-decoration: underline;
    }
  }
}

.footer-licence {
  height: 56px;
  width: 100%;
  text-align: center;
  border-top: 2px solid #2a2a2e;
  margin-top: 160px;
  padding-top: 10px;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  &__link{
    text-decoration: none;
    color: #86BE26;
  }
}