@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: Work Sans;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 120px;
  transition: ease all .9s;
}

body {
  margin: 0;
  background: #fdfdfd;
}

header {
  height: 88px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 80%;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  padding: 23px 0px 30px 0px;
}
.header-menu__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-menu__item {
  margin: 0 10px;
}
.header-menu__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  padding: 11px 19px;
  border: 1px solid #fdfdfd;
  border-radius: 4px;
  font-weight: 600;
}
.header-menu__link:hover {
  border: 1px solid black;
}

.registration-button {
  display: none;
}
.registration-button__link {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  color: #FDFDFD;
  background-color: #86BE26;
  text-decoration: none;
  display: inline-block;
  width: 344px;
  height: 56px;
  border-radius: 5px;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.header-menu__item_ident {
  margin-left: 25px;
}

.header-menu__item_with-arrow:after {
  content: "→";
  color: black;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.aside {
  width: 28%;
  padding: 122px 0px 10px 0px;
}

.main-list {
  cursor: pointer;
  padding: 0;
}
.main-list__item {
  list-style-type: none;
  padding-bottom: 22px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}
.main-list__item:hover {
  font-weight: bolder;
}

.main {
  padding-top: 68px;
  width: 72%;
  margin-bottom: 98px;
}

.search {
  padding: 0px 67px 15px 0px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}
.search__note {
  padding-left: 12px;
}
.search__note:before {
  content: "\2039";
  font-size: 20px;
}
.search__title {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 34px;
  padding-top: 15px;
  margin-bottom: 6px;
}
.search__amount {
  position: absolute;
  top: 109px;
  left: 80px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 16px;
}
.search__info {
  font-family: Work Sans;
  font-size: 16px;
  color: #6F7583;
  position: absolute;
  top: 160px;
  left: 80px;
}

.section-block {
  padding-top: 49px;
}

.section {
  width: 890px;
  height: 137px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 71px 15px 30px;
  margin-bottom: 15px;
}
.section:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
.section:hover .section__link {
  visibility: visible;
  color: #86BE26;
}
.section__titile {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.section__info {
  font-family: Work Sans;
  font-weight: normal;
  font-size: 16px;
  color: #6F7583;
}
.section__link {
  visibility: hidden;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  height: 30px;
  cursor: pointer;
}
.section__link:after {
  content: "→";
  color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__title {
  font-family: Lora;
  letter-spacing: 1.8px;
  color: #9DD241;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 10px;
}
.contact__text {
  width: 55%;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  color: rgba(41, 47, 66, 0.25);
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3px;
  margin-bottom: 60px;
}
.contact__input {
  width: 32%;
  height: 55px;
  border: 1px solid rgba(41, 47, 66, 0.1);
  border-radius: 4px;
  text-align: left;
  padding-left: 40px;
  color: #6F7583;
}

footer {
  background: url("image/footerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 900px;
  width: 100%;
  padding-top: 364px;
  color: white;
  overflow: hidden;
  transition: ease all .9s;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-content: space-between;
}

.footer-info {
  transition: ease all .9s;
  display: flex;
  flex-direction: column;
}
.footer-info__text {
  width: 350px;
}

.footer-contakt__title {
  font-family: Lora;
  font-weight: bold;
  font-size: 24px;
}

.search-button__form {
  position: relative;
  width: 385px;
}
.search-button__input {
  width: 100%;
  height: 56px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  background: #fdfdfd;
}
.search-button__button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(270deg, #86BE26 1.79%, #86BE26 100%);
  cursor: pointer;
}
.search-button__button:before {
  content: "\2192";
  font-size: 18px;
  color: white;
}

.contact-button {
  display: none;
}
.contact-button__link {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  color: #FDFDFD;
  background-color: #86BE26;
  text-decoration: none;
  display: inline-block;
  width: 344px;
  height: 56px;
  border-radius: 5px;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.footer-inform {
  padding-top: 30px;
}
.footer-inform__text {
  display: block;
  margin-top: 22px;
}

.footer-list {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 48px 0 0 53px;
}
.footer-list__column {
  padding-right: 115px;
}
.footer-list__title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-family: Lora;
}
.footer-list__item {
  padding-bottom: 15px;
}
.footer-list__list {
  list-style-type: none;
  padding: 0;
}
.footer-list__link {
  text-decoration: none;
  color: #6F7583;
}
.footer-list__link:hover {
  color: #86BE26;
  text-decoration: underline;
}

.footer-licence {
  height: 56px;
  width: 100%;
  text-align: center;
  border-top: 2px solid #2a2a2e;
  margin-top: 160px;
  padding-top: 10px;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.footer-licence__link {
  text-decoration: none;
  color: #86BE26;
}

.burger__line1, .burger__line2, .burger__line3 {
  width: 20px;
  height: 3px;
  background-color: #292F42;
  margin: 3px;
}

.burger {
  display: none;
}

@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .wrapper {
    padding: 0 20px;
    transition: ease all .9s;
  }

  .footer {
    flex-direction: column;
    width: 96%;
    transition: ease all .9s;
  }

  .footer-info {
    flex-direction: row-reverse;
    justify-content: space-between;
    transition: ease all .9s;
  }

  .footer-list {
    width: 100%;
    transition: ease all .9s;
  }

  .contact__input {
    display: none;
  }

  .contact-button {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .wrapper {
    padding: 0;
  }

  .aside {
    width: 70%;
  }

  .main-logo {
    padding: 0 20px;
  }

  .burger {
    display: block;
    cursor: pointer;
    padding: 0 10px;
  }

  .burger-color {
    background-color: lightgrey;
  }

  .header-menu {
    width: 105%;
    position: absolute;
    height: 100vh;
    top: 88px;
    left: 0px;
    background-color: #292F42;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    padding: 0 10px 50px 0;
    margin: 0;
  }

  .registration-button {
    display: block;
  }

  .header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background-color: #FDFDFD;
  }

  .header-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 20px 0 20px 30px;
    text-align: left;
  }

  .header-menu__link {
    border: none;
  }

  .header-menu__item {
    width: 200px;
  }

  .header-menu__item_ident {
    margin-left: 10px;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .dark-theme {
    position: fixed;
    background-color: #292F42;
    z-index: 99;
    transition-duration: 2s;
    color: #FDFDFD;
  }

  .contact__input {
    display: none;
  }

  .contact-button__link {
    display: block;
  }

  .white-burger {
    background-color: lightgrey;
  }
}
.cross .burger__line1 {
  transform: rotate(-45deg) translate(-5px, 4px);
}

.cross .burger__line2 {
  opacity: 0;
}

.cross .burger__line3 {
  transform: rotate(45deg) translate(-5px, -4px);
}
