$bg-color: #292F42;
$opacity-text: #6F7583;

* {
  box-sizing: border-box;
  font-family: Work Sans;

}

.wrapper{
  width: 100%;
  max-width: 1440px;
  padding: 0 120px;
}

body {
  margin: 0;
  background: #fdfdfd;

}

header {
  height: 88px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-menu {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding: 23px 0px 30px 0px;

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    padding: 11px 19px;
    border: 1px solid #fdfdfd;
    border-radius: 4px;
    font-weight: 600;

    &:hover {
      border: 1px solid black;
    }

  }
}

.header-menu__item_ident{
  margin-left: 25px;
}

.header-menu__item_with-arrow:after {
  content: "→";
  color: black;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;


}

.aside {
  width: 28%;
  padding: 122px 0px 10px 0px;
}

.main-list {
  cursor: pointer;
  padding: 0;

  &__item {
    list-style-type: none;
    padding-bottom: 22px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      font-weight: bolder;
    }
  }
}

.main {
  padding-top: 68px;
  width: 72%;
  margin-bottom: 98px;

}

.search {
  padding: 0px 67px 15px 0px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 14px;
  position: relative;

  &__note {
    padding-left: 12px;

    &:before {
      content: "\2039";
      font-size: 20px;
    }
  }

  &__title {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 34px;
    padding-top: 15px;
    margin-bottom: 6px;
  }

  &__amount {
    position: absolute;
    top: 109px;
    left: 80px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 16px;
  }

  &__info {
    font-family: Work Sans;
    font-size: 16px;
    color: $opacity-text;
    position: absolute;
    top: 160px;
    left: 80px;
  }
}

.section-block {
  padding-top: 49px;
}

.section {
  width: 890px;
  height: 137px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 71px 15px 30px;
  margin-bottom: 15px;

  &:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);

    .section__link {
      visibility: visible;
      color: #86BE26;
    }
  }

  &__titile {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
  }

  &__info {
    font-family: Work Sans;
    font-weight: normal;
    font-size: 16px;
    color: $opacity-text;

  }

  &__link {
    visibility: hidden;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    height: 30px;
    cursor: pointer;

    &:after {
      content: "→";
      color: black;

    }

  }


}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: Lora;
    letter-spacing: 1.8px;
    color: #9DD241;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 10px;
  }

  &__text {
    width: 55%;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 14px;
    color: rgba(41, 47, 66, 0.25);
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3px;
    margin-bottom: 60px;
  }

  &__input {
    width: 32%;
    height: 55px;
    border: 1px solid rgba(41, 47, 66, 0.1);
    border-radius: 4px;
    text-align: left;
    padding-left: 40px;
    color: $opacity-text;
  }
}

footer {
  background: url("image/footerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 900px;
  width: 100%;
  padding-top: 364px;
  color: white;
  overflow: hidden;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-content: space-between;
}

.footer-info {
  display: flex;
  flex-direction: column;

  &__text {
    width: 350px;
  }
}

.footer-contakt {
  &__title {
    font-family: Lora;
    font-weight: bold;
    font-size: 24px;

  }

}

.search-button {
  &__form {
    position: relative;
    width: 385px;
  }

  &__input {
    width: 100%;
    height: 56px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    background: #fdfdfd;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(270deg, #86BE26 1.79%, #86BE26 100%);
    cursor: pointer;

    &:before {
      content: "\2192";
      font-size: 18px;
      color: white;
    }
  }
}




.footer-inform {
  padding-top: 30px;
  &__logo {

  }

  &__text {
    display: block;
    margin-top: 22px;
  }
}


.footer-list {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 48px 0 0 53px;

  &__column {
    padding-right: 115px;
  }

  &__title{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-family: Lora;
  }
  &__item{
    padding-bottom: 15px;
  }

  &__list{
    list-style-type: none;
    padding: 0;
  }
  &__link{
    text-decoration: none;
    color:$opacity-text;
    &:hover {
      color: #86BE26;
      text-decoration: underline;
    }
  }
}

.footer-licence {
  height: 56px;
  width: 100%;
  text-align: center;
  border-top: 2px solid #2a2a2e;
  margin-top: 160px;
  padding-top: 10px;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  &__link{
    text-decoration: none;
    color: #86BE26;
  }
}

//  mobile version

.burger__line {
  width: 20px;
  height: 3px;
  background-color: #292F42;
  margin: 3px;
}
.burger {
  display: none;
}

@media only screen and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  .wrapper{
    padding: 0 20px;
  }


  .footer {
    flex-direction: column;
    width: 96%;
  }
  .footer-info {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer-list {
    width: 100%;
  }

}


@media only screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .wrapper{
    padding: 0;
  }
  .main-logo{
    padding: 0 20px;
  }

  .burger {
    display: block;
    cursor: pointer;
    padding: 0 10px;
  }

  .header-menu {
    width: 100%;

    position: absolute;
    height: 100vh;
    top:88px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 0 10px;
  }
  .header-menu{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: stretch;
  }
  .header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background-color: #FDFDFD;
    }
  .header-menu__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
     align-content: center;
    text-align: left;
    }
  .header-menu {
    border: none;
    margin: 0 auto;
    color: #FDFDFD;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  .header-menu__item {
    width: 200px;
  }

  .nav-active{
    transform: translateX(0%);
    transition-duration: 1s;
    background-color: $bg-color;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
  .dark-theme {
    position: fixed;
    background-color: $bg-color;
    z-index: 99;
    transition-duration: 2s;
    color: #FDFDFD;
  }
  .white-burger{
    background-color: blue;
  }
}

